# ignore byte compiled files created by Python
__pycache__/
*.py[cod]
.vscode/

# ignore the virtual environment
env/

# ignore the dist folder produced by dist folder
dist/

# ignore the django main project to test this package
mysite/

django_webpack_dev_server.egg-info/