# ignore byte compiled files created by Python
__pycache__/

# ignore vscode folder
.vscode/

# ignore the virtual environment
env/

# ignore the build folder produced after running setup.py
build/

# ignore the dist folder produced after running setup.py
dist/

# ignore the django mysite project used to test this package
mysite/

# ignore the frontend django app
frontend/

django_webpack_dev_server.egg-info/

# ignore the html files of the coverage
htmlcov/

#  ignore the coverage.xml file
coverage.xml

# ignore the todo text file
Todo.txt

# ignore the sqlite file
db.sqlite3

# ignore the .pytest_cache folder
.pytest_cache/

# ignore the .tox folder
.tox/

# ignore the environment variables file
.env

# ignore the .coverage file
.coverage

# ignore the manage.py file
manage.py